<%- include('templates/header')-%>
    <div class="container">
      <h1><%= title %></h1>
      <br />
      <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>
      <br />
      <% let isiData; %>
      <% if(locals.data) {isiData = data} %>

      <form method="POST" action="/register">
        <div class="mb-3">
          <label for="nama" class="form-label">Nama</label>
          <input
            type="text"
            name="nama"
            class="form-control"
            id="nama"
            value="<%= isiData?.nama %>"
            placeholder="Nama"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          value="<%= isiData?.email %>"
          placeholder="Email"
          />
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="username"
              value="<%= isiData?.username %>"
              placeholder="Username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="mb-3 mt-3">
            <a href="/login" class="btn btn-warning">Back</a>    
            </div>
      </form>
    </div>
    <%- include('templates/footer')-%>